.navbar img {
    width: 1.2rem;
}

.welcome {
    background: url('../img/background.jpg');
    background-position: center center;
    background-size: cover;
}

.profile_picture {
    border-radius:50%; 
    width: 4.5rem;
    height:3.5rem;
}